/*Universal*/
*{
  margin: 0;
  box-sizing: border-box;
}

a:link, a:visited{
  color: black;
}

/************
Main Styling
************/

/*********
    NAV
*********/
.main-header, .nav{
  display: flex;
  flex-direction: column;
}

.main-header{
  .sitelogo{
    align-self: center;
    a{
      text-decoration: none;
    }
  }
  .nav{
    padding-left: 0;
    .navitem{
      list-style: none;
      font-size: 24px;
      a{
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #ebecec;
        text-align: center;
      }
    }
  }
}

/*********
 SECTIONS
*********/

// .comp{
//   height: 500px;
//   display:flex;
//   flex-direction: column;
//   margin-top: 25px;
//   margin-bottom: 25px;
// }

// .top, .base{
//   margin:0 auto;
// }

/*********
 SECTIONS
*********/
.hr-section{
  border:1px solid black;
  margin: 25px 0;
}

.comp{
  height: calc(100vh);

  .section1, .section2, .section3{
    align-self: center;
  }
  .section1{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    .laptop{
      margin:auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .top{
        height:120px;
        width:160px;
        background:black;
        border: 8px solid #97989E;
        border-radius: 10px 10px 0 0
      }

      .base{
        height:10px;
        width:200px;
        background: #97989E;
        border: 1px solid #97989E;
        border-radius: 0 0 100px 100px;
      }

      .base:before{
        content: ' ';
        display:block;
        height:5px;
        width:50px;
        background:#343436;
        margin:auto;
        border-radius: 0 0 50px 50px;
      }
    }
    .projects-label{
      align-self: center;
    }
  }

  .section2{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    .tablet{
      height:120px;
      width:160px;
      background:black;
      border: 5px solid #97989E;
      border-right: 15px solid #97989E;
      border-left: 15px solid #97989E;
      border-radius: 10px;
      p{
        color:white;
        position: relative;
        left: 10px;
        bottom: 35px;
      }
    }
    .tablet:before{
      content:' ';
      display:block;
      height:10px;
      width:10px;
      background:grey;
      border-radius: 100%;
      margin-left:101%;
      margin-top:35%;
    }
    .about-label{
      align-self: center;
    }
  }

  .section3{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    .phone{
      height:100px;
      width:50px;
      // margin:auto;
      background:black;
      border: 2px solid #97989E;
      border-radius: 10px;
      border-width: 8px 2px 8px 2px;
    }
      .contact-label{
        align-self: center;
      }
  }
}
/************
 dev section
************/
#skills{
  background: #919191;
  text-align: center;
  padding: 15px 0;
}
.devimg{
  width:10%;
}

.other-skills{
  font-size: 25px;
}

/************
 PORTFOLIO
************/
.project-photos{
  width: 75%;
  margin-bottom: 10px;
}
.project-descriptions{
  text-align: center;
}
hr{
  margin: 0 0 10px 0;
  border-bottom: 1px solid grey;
}
.project-container p.project-links{
  margin: 0 auto 5px;
  font-size: 20px;
  text-align: center;
}
.project-container .project-descriptions p{
  font-size: 20px;
  font-family: georgia, sans-serif;
  text-align: center;
}
.project-container .project-descriptions .project-photos{
  margin: 0 auto;
}

#boi{
  margin-top: 15px;
}


/************
Media Queries
************/
@media (min-width: 769px){

  /*HEADER*/
  .main-header{
    height: 75px;
    justify-content: flex-end;
    background:pink;
    .nav{
      margin-top: 1em;
      flex-direction: row;
      justify-content: space-around;
      .navitem{
        a{
          border-bottom-color: transparent;
        }
        a:hover{
          border-bottom: 1px solid #000;
        }
      }
    }
  }

  /*home page*/
  .comp{
    display: flex;
    justify-content: space-around;

    .sections{
      .labels{
        display: none;
      }
    }
    .hr-section{
      display: none;
    }
  }

}

@media(min-width:1025px){
  .main-header{
    flex-direction: row;
    padding: 0 5%;
    background-color: lightblue;
    .sitelogo{
      margin-right: auto;
    }
    .nav{
      margin-top: 0;
      align-self: center;
      justify-content: space-around;

      .navitem{
        margin: 0 .65em;
      }
    }
  }

  .comp{
    display: flex;
    justify-content: space-around;
    .section1{
      .laptop{
        display: flex;
        flex-direction: column;
        align-items: center;

        .top{
          width:225px;
          height:180px;
        }
        .base{
          width: 260px;
        }
      }//laptop
    }//section1

    .section2{
      .tablet{
        width: 225px;
        height:180px;
      }
    }

    .section3{
      .phone{
        width: 100px;
        height:200px;
      }
    }
  } //Comp tag

}

/************
portfolio mq
************/
@media (min-width: 850px) {
  .project-descriptions{
    display: flex;
    align-items: center;
    margin: 0 20px 10px;
  }
  .project-photos{
    width: 50%;
  }
}

/************
  Computers
************/
// @media(min-width:769px){
//   .comp{
//     flex-direction: row;
//
//     .laptop, .tablet, .phone{
//       align-self: flex-start;
//     }
//   }
// }


/********************
 portfolio queries
********************/
